<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/layout">
<div layout:fragment="content">
    <div id="user" v-cloak>
        <card dis-hover title="搜索条件" style="width:100%">
            <p>
                <i-form ref="searchForm" :model="formInline" :label-width="120" inline>
                    <form-item label="用户名称" prop="username">
                        <i-input placeholder="输入用户名称" class="inputw" v-model="formInline.username"></i-input>
                    </form-item>
                    <form-item label="手机号码" prop="mobile">
                        <i-input placeholder="输入手机号码" class="inputw" v-model="formInline.mobile"></i-input>
                    </form-item>
                    <form-item label="所属组织" prop="organizational">
                        <i-select class="inputw" v-model="formInline.organizational" filterable clearable>
                            <i-option v-for="item in organizationalList" :value="item.serialNo">{{
                                item.organizationalName }}
                            </i-option>
                        </i-select>
                    </form-item>
                    <form-item label="用户状态" prop="status">
                        <i-select class="inputw" v-model="formInline.status" clearable>
                            <i-option :value="1">有效</i-option>
                            <i-option :value="0">无效</i-option>
                        </i-select>
                    </form-item>
                    <row type="flex">
                        <i-col span="8" offset="8">
                            <i-button type="primary" icon="ios-search" @click="query()">查询</i-button>
                            <i-button type="success" icon="ios-add" @click="addUser" style="margin-left: 8px">新增
                            </i-button>
                            <i-button icon="ios-refresh" @click="reset" style="margin:0 8px">重置</i-button>
                        </i-col>
                    </row>
                </i-form>
            </p>
        </card>
        <br>
        <card dis-hover title="搜索结果" v-if="showResult">
            <i-table border :columns="tableColumns" :data="pageInfo.list"></i-table>
            <br/>
            <page :total="pageInfo.total" show-elevator show-total :page-size="pageInfo.pageSize"
                  @on-change="pageChange"></page>
        </card>

        <!-- 新增用户 -->
        <modal v-model="modal1" :mask-closable="false" title="新增用户">
            <div id="modalForm">
                <i-form ref="addForm" :model="addForm" :rules="ruleValidate" :label-width="120">
                    <form-item label="用户名称" prop="username">
                        <i-input placeholder="输入用户名称" v-model="addForm.username"></i-input>
                    </form-item>
                    <form-item label="手机号" prop="mobile">
                        <i-input placeholder="输入用户手机号" v-model="addForm.mobile"></i-input>
                    </form-item>
                    <form-item label="企业微信号" prop="wechatNo">
                        <i-input placeholder="输入企业微信号" v-model="addForm.wechatNo"></i-input>
                    </form-item>
                    <form-item label="邮箱" prop="email">
                        <i-input placeholder="输入用户邮箱" v-model="addForm.email"></i-input>
                    </form-item>
                    <form-item label="密码" prop="passwd" v-if="addForm.serialNo == null">
                        <i-input type="password" placeholder="输入用户登录密码" v-model="addForm.passwd"></i-input>
                    </form-item>
                    <form-item label="选择组织" prop="checkedOrganizationalList">
                        <i-select :model.sync="model10" v-model="addForm.checkedOrganizationalList" multiple filterable
                                  clearable>
                            <i-option v-for="item in organizationalList" :value="item.serialNo">{{
                                item.organizationalName }}
                            </i-option>
                        </i-select>
                    </form-item>
                    <form-item label="选择角色" prop="checkedRoleList">
                        <checkbox-group v-model="addForm.checkedRoleList">
                            <checkbox v-for="item in roleList" :label="item.serialNo"><span>{{item.roleName}}</span>
                            </checkbox>
                        </checkbox-group>
                    </form-item>
                </i-form>
            </div>
            <div slot="footer">
                <i-button type="primary" @click="saveUser" :disabled="isDisable" style="margin-left: 8px">确定</i-button>
                <i-button @click="cancel" style="margin-left: 8px">取消</i-button>
            </div>
        </modal>
    </div>
    <script src="js/auth/user.js"></script>
</div>
</html>