<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/layout">
	<div layout:fragment="content">
		<div id="apply" v-cloak>
			<row>
				<i-col span="22" offset="1">
					<br>
					<card title="尽调申请">
						<p>
							<i-form :label-width="100" >
								<form-item label="项目名称:">
									<span>{{project.projectName}}</span>
								</form-item>
								<form-item v-if="audit" label="当前审核进度:">
									<i-button  v-if="audit.records[0].result=='REJECTED'" size="small" type="error" ghost @click="showAudit(audit)">{{audit.records[0].status}}</i-button>
									&nbsp;&nbsp;&nbsp;<span>驳回原因:{{audit.records[0].remark}}</span>
									<i-button  v-if="audit.records[0].result!='REJECTED'" size="small" type="primary" ghost @click="showAudit(audit)">{{audit.records[0].status}}</i-button>
								</form-item>
								<form-item label="尽调文件:">
									<Upload action="/file/upload" :on-success="uploadSuccess" :on-error="uploadError" :on-remove="removeFile">
								        <i-button size="small" icon="ios-cloud-upload-outline">上传文件</i-button>
								    </Upload>
								</form-item>
								<form-item label="附件查看">
									<row>
										<i-col v-for="(item,index) in items" v-if="item.itemType=='TUNEUP'">
											<icon type="md-attach" size="18"></icon>
											<a @click="downloadItem(item)">{{item.itemName}}</a>&nbsp;&nbsp;
											<i-button v-if="project.step ==1" size="small" type="text" @click="deleteLoadItem(item,index)" ><icon type="md-close" size="18"></icon></i-button>
										</i-col>
									</row>
								</form-item>
								<row type="flex" v-if="showButton">
				                   <i-col span="8" offset="1">
				                       	<i-button type="success"  @click="commit">提交审核</i-button>
				                        <i-button type="" v-if="showLater"  @click="later" style="margin-left: 8px">此步骤后补</i-button>
				                   </i-col>
				            	</row>
							</i-form>
						</p>
					</card>
					
				</i-col>
			</row>
			<input th:value="${id}" id="applyId" style="display:none" ></input>	
	    </div>
	    <script src="js/project/apply.js"></script>
	</div>
</html>