<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/layout">
	<div layout:fragment="content">
		<div id="apply">
			<br>
			<h2>立项申请</h2>
			<br>
			<i-form >
				<row>
					<i-col span="2" offset="1">
						<form-item label="尽调文件"></form-item>
					</i-col>
					<i-col span="13">
						<Upload action="/file/upload" :on-success="uploadSuccess" :on-error="uploadError" :on-remove="removeFile">
					        <i-button icon="ios-cloud-upload-outline">上传文件</i-button>
					    </Upload>
				    </i-col>
				</row>
				<row>
					<i-col span="16" offset="1">
						<form-item label="项目模式">
							 <radio-group v-model="project.model">
							 	<radio label="RECOURSE_RIGHT">有追索权模式</radio>
							 	<radio label="DIS_RECOURSE_RIGHT">无追索权模式</radio>
							 </radio-group>
						</form-item>
					</i-col>
				</row>
				<row type="flex">
                   <i-col span="8" offset="1">
                       	<i-button type="success"  @click="commit">提交审核</i-button>
                        <i-button type=""   @click="" style="margin-left: 8px">此步骤后补</i-button>
                   </i-col>
            	</row>
			</i-form>
			<input th:value="${id}" id="applyId" style="display:none" ></input>	
	    </div>
	    <script src="js/project/apply.js"></script>
	</div>
</html>