<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/layout">
	<div layout:fragment="content">
		<div id="approval">
			<card dis-hover title="搜索条件">
				<p>
					<i-form ref="searchForm" :model="formInline" :label-width="80" inline>
						<form-item label="项目编号" prop="projectId">
							 <i-input placeholder="输入项目编号" class="inputw" v-model="formInline.projectId"></i-input>
						</form-item>
						<form-item label="项目名称" prop="projectName">
							 <i-input placeholder="输入项目名称" class="inputw" v-model="formInline.projectName"></i-input>
						</form-item>
						<form-item label="业务发起人" prop="person">
							 <i-input placeholder="输入业务发起人" class="inputw" v-model="formInline.person"></i-input>
						</form-item>
						<form-item label="当前进度" prop="progress">
							<i-select class="inputw" v-model="formInline.progress" clearable>
                        		<i-option v-for="item in statusItems"  :value="item.value">{{item.text}}</i-option>
							</i-select>
							
						</form-item>
						<row type="flex">
	                    <i-col span="12" offset="6">
	                        	<i-button type="primary"  icon="ios-search" @click="search">查询</i-button>
	                            <i-button type="success"  icon="ios-add" @click="addProject" style="margin-left: 8px">创建</i-button>
	                           <!--  <i-button type="info"  icon="ios-arrow-dropdown" style="margin:0 8px">项目信息视图</i-button>  -->
	                            <i-button  icon="ios-refresh" @click="reset" style="margin:0 8px">重置</i-button>
	                        </form-item>
	                    </i-col>
                </row>
					</i-form>
				</p>
			</card>
			<br>
			<card dis-hover title="搜索结果">
				<i-table  border :columns="tableColumns" :data="pageInfo.list" ></i-table>
				<br/>
				<page :total="pageInfo.total" show-elevator show-total  :page-size="pageInfo.pageSize" @on-change="pageChange"></page>
			</card>
			
			<!-- 新增项目 -->
			<modal v-model="modal1" title="新增项目"  mask-closable="false">
				<div id="modalForm">
					<i-form ref="entityDataForm"  :model="addForm" :label-width="120" >
						<form-item label="项目编号" prop="projectId" v-if="addForm.projectId!=''">
							 <i-input placeholder="输入项目名称"  v-model="addForm.projectId"></i-input>
						</form-item>
						<form-item label="项目名称" prop="projectName">
							 <i-input placeholder="输入项目名称"  v-model="addForm.projectName"></i-input>
						</form-item>
						<form-item label="业务负责人" prop="person">
							 <i-input placeholder="输入业务负责人"  v-model="addForm.person"></i-input>
						</form-item>
					</i-form>
				</div>
				<div slot="footer">
		            <i-button type="primary"  @click="saveProject" style="margin-left: 8px">确定</i-button>
		            <i-button  @click="cancel" style="margin-left: 8px">取消</i-button>
		        </div>
			</modal>
	    </div>
	    <script src="js/project/approval.js"></script>
	</div>
</html>