<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/layout">
	<div layout:fragment="content">
		<div id="factoring">
			<row>
				<i-col span="22" offset="1">
					<br>
					<h2 v-if="!detail.id">新建项目</h2>
					<h2 v-if="detail.id">项目明细</h2>
					<br>
				</i-col>
				<i-col span="16" offset="1">
					<i-form :label-width="120" ref="entityDataForm" :rules="validata" :model="detail">
						<form-item label="项目名称" prop="project.projectName">
							 <i-input placeholder="输入项目名称"  v-model="detail.project.projectName"></i-input>
						</form-item>
						<form-item label="让与人" prop="creditor">
							 <i-input placeholder="输入让与人"  v-model="detail.creditor"></i-input>
						</form-item>
						<form-item label="债务人" prop="debtor">
							 <i-input placeholder="输入债务人"  v-model="detail.debtor"></i-input>
						</form-item>
						<form-item label="基础合同" prop="baseContract">
							 <i-input placeholder="输入基础合同"  v-model="detail.baseContract"></i-input>
						</form-item>
						<row>
							<i-col span="10">
								<form-item label="追索权" prop="model">
									 <radio-group v-model="detail.project.model">
									 	<radio label="RECOURSE_RIGHT">有追索权模式</radio>
									 	<radio label="DIS_RECOURSE_RIGHT">无追索权模式</radio>
									 </radio-group>
								</form-item>
							</i-col>
							<i-col span="10">
								<form-item label="签署日期" prop="signDate">
									<date-picker type="date" placeholder="请选择签署日期" v-model="detail.signDate"></date-picker>
								</form-item>
							</i-col>
						</row>
						<row>
							<i-col span="10">
								<form-item label="应收账款受让款" prop="assignee">
									 <input-number placeholder="输入应收账款受让款" min="0" :max="100000000000" 
									 :formatter="formatter" :parser="parser" class="select-width-140" v-model="detail.assignee"></input-number>&nbsp;(元)
								</form-item>
							</i-col>
							<i-col span="10">
								<form-item label="应收账款" prop="receivable">
									 <input-number placeholder="输入应收账款" min="0" :max="100000000000" 
									 :formatter="formatter" :parser="parser" class="select-width-140"  v-model="detail.receivable"></input-number>&nbsp;(元)
								</form-item>
							</i-col>
							<i-col span="4">
								<form-item label="转让年限(年)" prop="duration">
									<input-number placeholder="输入转让年限" min="1" max="100" precision="0" v-model="detail.duration"></input-number>
								</form-item>
							</i-col>
						</row>
						<row>
							<i-col span="10">
								<form-item label="合同回款日" prop="remittanceDay">
									<date-picker type="date" placeholder="请选择合同回款日" v-model="detail.remittanceDay"></date-picker>
								</form-item>
							</i-col>
							<i-col span="10">
								<form-item label="保理费合计" prop="totalFactoringFee">
									 <input-number placeholder="请输入保理费" min="0" :max="100000000000" 
									 :formatter="formatter" :parser="parser" readonly="true" class="select-width-140" v-model="detail.totalFactoringFee" ></input-number>&nbsp;(元)
								</form-item>
							</i-col>
						<!-- 	<i-col span="9">
								<form-item label="实际回款日" prop="realBackDay">
									<date-picker type="date" placeholder="选择实际回款日" v-model="detail.realBackDay"></date-picker>
								</form-item>
							</i-col> -->
						</row>
						<row v-for="(installment,index) in detail.factoringInstallments" :key="index">
							<i-col span="10">
								<form-item label="分期金额" prop="">
									 <input-number placeholder="输入保理费分期金额" min="0" :max="100000000000" :formatter="formatter" :parser="parser"
									  class="select-width-140" v-model="installment.amount" @on-blur="computeFee"></input-number>&nbsp;(元)
								</form-item>
							</i-col>
							<i-col span="10">
								<form-item label="保理费到账日" prop="">
									<date-picker type="date" placeholder="请保理费到账日" v-model="installment.installmentDate"></date-picker>
								</form-item>
							</i-col>
							<i-col span="3">&nbsp;&nbsp;
								<i-button type="success" shape="circle"  ghost icon="md-add" v-if="index==0" @click="add">添加</i-button>
								<i-button type="error" shape="circle"  ghost icon="md-close" v-if="index!=0" @click="remove(index)">删除</i-button>
							</i-col>
						</row>
						<!-- 
						<row>
							<i-col span="12">
								<form-item label="回款金额(万元)" prop="backAmount">
									 <input-number placeholder="输入回款金额"  v-model="detail.backAmount"></input-number>
								</form-item>
							</i-col>
							<i-col span="12">
								<form-item label="是否回款" prop="moneyBack">
									<radio-group v-model="detail.moneyBack">
									 	<radio label="true">是</radio>
									 	<radio label="false">否</radio>
									 </radio-group>
								</form-item>
							</i-col>
						</row> -->
						<row>
							<i-col span="10">
								<form-item label="收益率(/年)" prop="returnRate">
									 <input-number placeholder="输入收益率"  v-model="detail.returnRate"></input-number>%
								</form-item>
							</i-col>
						</row>
						<!-- 
						<row>
							<i-col span="12">
								<form-item label="已开发票" prop="invoicing">
									<radio-group v-model="detail.invoicing">
									 	<radio label="true">是</radio>
									 	<radio label="false">否</radio>
									 </radio-group>
								</form-item>
							</i-col>
							<i-col span="12">
								<form-item label="是否已支付" prop="paied">
									<radio-group v-model="detail.paied">
									 	<radio label="true">是</radio>
									 	<radio label="false">否</radio>
									 </radio-group>
								</form-item>
							</i-col>
						</row>
						 -->
						<form-item label="备注" prop="">
							 <i-input placeholder="输入备注"  v-model="detail.remark"></i-input>
						</form-item>
						<row>
							<i-col offset="4"><i-button type="success"  @click="submit">保存信息</i-button></i-col>
						</row>
	                </i-form>
                </i-col>
			</row>
			<input th:value="${id}" id="projectId" style="display:none" ></input>	
	    </div>
	    <script src="js/project/factoring.js"></script>
	</div>
</html>