<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/layout">
	<div layout:fragment="content">
		<div id="past">
			<row>
				<i-col span="22" offset="1">
					<br>
					<h2>三重一大</h2>
					<br>
					<card dis-hover  padding="20">
						<i-form :label-width="100" ref="entityDataForm" :rules="ruleValidate" :model="projectMeeting">
							<row type="flex">
								<i-col span="12" offset="1">
									<form-item label="项目" prop="projectId">
										<i-select filterable v-model="projectMeeting.projectId" :disabled="changeFlag" @on-change="changeProject">
											<i-option v-for="project in projects" :value="project.id">{{project.projectName}}</i-option>
										</i-select>
									</form-item>
								</i-col>
							</row>
							<row type="flex">
								<i-col span="12" offset="1">
									<form-item label="已关联会议">
										<row>
											<i-col span="6" v-for="pm in pms"><a>{{pm.theme}}</a></i-col>
										</row>
									</form-item>
								</i-col>
							</row>
							<row type="flex">
								<i-col span="12" offset="1">
									<form-item label="选择关联会议" prop="meetingIds">
										<i-select  multiple v-model="projectMeeting.meetingIds" >
											<i-option v-for="meeting in meetings" :value="meeting.id">{{meeting.theme}}</i-option>
										</i-select>
									</form-item>
								</i-col>
							</row>
							<row type="flex">
			                   	<i-col span="8" offset="1">
			                       	<i-button type="success"  @click="past">关联三重一大会议</i-button>
			                        <i-button  @click="" style="margin-left: 8px">此步骤后补</i-button>
			                   	</i-col>
			            	</row>
						</i-form>
					</card>
				</i-col>
			</row>
			<input th:value="${id}" id="projectId" style="display:none" ></input>	
		</div>
		<script src="js/project/past.js"></script>
	</div>
</html>