<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/layout">
	<div layout:fragment="content">
		<div id="seal" v-cloak>
			<card dis-hover title="搜索条件" style="width:100%">
				<p>
					<i-form ref="searchForm" :model="formInline" :label-width="120" inline>
						<form-item label="项目编号" prop="projectCode">
							<i-input placeholder="输入项目编号" class="inputw" v-model="formInline.projectCode"></i-input>
						</form-item>
						<form-item label="项目名称" prop="projectName">
							<i-input placeholder="输入项目名称" class="inputw" v-model="formInline.projectName"></i-input>
						</form-item>
						<form-item label="业务负责人" prop="projectPerson">
							<i-input placeholder="输入业务负责人" class="inputw" v-model="formInline.projectPerson"></i-input>
						</form-item>
						<form-item label="用印状态" prop="sealStatus">
							<i-select class="inputw" v-model="formInline.sealStatus" clearable>
								<i-option :value="0">未用印</i-option>
								<i-option :value="1">已用印</i-option>
							</i-select>
						</form-item>
						<row type="flex">
							<i-col span="8" offset="8">
								<i-button type="primary"  icon="ios-search" @click="query()">查询</i-button>
								<i-button icon="ios-refresh" @click="reset" style="margin:0 8px">重置</i-button>
							</i-col>
						</row>
					</i-form>
				</p>
			</card>
			<br>
			<card dis-hover title="搜索结果" v-if="showResult">
				<i-table  border :columns="tableColumns" :data="pageInfo.list" ></i-table>
				<br/>
				<page :total="pageInfo.total" show-elevator show-total  :page-size="pageInfo.pageSize" @on-change="pageChange"></page>
			</card>
		</div>
	    <script src="js/project/seal.js"></script>
	</div>
</html>