<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<header th:fragment="header" >
		<div id="header">
			<ul class="ivu-menu ivu-menu-light ivu-menu-horizontal">
				<div class="wrapper-header-nav">
					<a href="index" class="wrapper-header-nav-logo router-link-active">
						<img src="image/logo.png"></img>
					</a>
					<div class="wrapper-header-nav-list">
						<div class="info-menu">
							<span>欢迎你:{{user.username}}</span>
							<a href="/logout">退出</a>
						</div>
					</div>
				</div>
			</ul>
		</div>
		<script src="js/layout/header.js"></script>
	</header>
</html> 