<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
	<head>
		<meta charset="UTF-8">
		<title>相城金控</title>
		<link rel="shortcut icon" href="image/favicon.ico" /> 
		<link rel="stylesheet" href="css/iview.css"></link>
		<link rel="stylesheet" href="css/layout.css"></link>
		<link rel="stylesheet" href="css/common.css"></link>
		<script src="js/vue.min.js"></script>
		<script src="js/iview.min.js"></script>
		<script src="js/vue-resource.js"></script>
		<script src="js/moment.min.js"></script>
		<script type="text/javascript">
			var common={
			};
			function daysBetween(sDate1, sDate2) {
			    //Date.parse() 解析一个日期时间字符串，并返回1970/1/1 午夜距离该日期时间的毫秒数
			    var time1 = Date.parse(new Date(sDate1));
			    var time2 = Date.parse(new Date(sDate2));
			    var nDays = Math.abs(parseInt((time2 - time1) / 1000 / 3600 / 24));
			    return nDays;
			};
		</script>
	</head>
	<body>
		<div th:fragment="navbar"  class="wrapper"  role="navigation">
			<div class="wrapper-header">
				<div th:include="layout/header :: header" class="header">header</div>
			</div>
			<div class="wrapper-container">
				<div th:include="layout/side :: side" class="menu" >header</div>
				<div layout:fragment="content"  id="content"  class="content"></div>
			</div>
		</div>
		<script src="js/layout/side.js"></script>
	</body>
</html>