<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="stylesheet" href="css/iview.css"></link>
		<script src="js/vue.min.js"></script>
		<script src="js/iview.min.js"></script>
	</head>
	<body>
		<div th:fragment="navbar"  class="wrapper"  role="navigation">
			<div th:include="/layout/header :: header">footer</div>
			<div layout:fragment="content"  id="content" ></div>
    		<div th:include="/layout/footer :: footer">footer</div>
		</div>
	</body>
</html>