<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/layout">
<div layout:fragment="content">
    <div id="content">
        <br>
        <row>
            <i-col span="6" offset="1">
                <a @click='openFactoring'>
                    <card style="background: rgb(45, 183, 245);">
                        <p slot="title"><span class="card-head">保理业务</span></p>
                        <p class="card-body">项目总数:{{factoringTotal.total}}</p>
                        <p class="card-body">投资总额:{{factoringTotal.investment}} 元</p>
                        <p class="card-body">累计总利润:{{factoringTotal.profit}} 元</p>
                    </card>
                </a>
            </i-col>
            <i-col span="6" offset="2">
                <a @click='openFund'>
                    <card style="background: rgb(25, 190, 107);">
                        <p slot="title"><span class="card-head">直投业务</span></p>
                        <p class="card-body">项目总数:{{fundTotal.total}}</p>
                        <p class="card-body">投资总额:{{fundTotal.investment}} 元</p>
                    </card>
                </a>
            </i-col>
            <i-col span="6" offset="2">
                <a>
                    <card style="background: rgb(255, 153, 0);">
                        <p slot="title"><span class="card-head">母基金业务</span></p>
                        <p class="card-body">项目总数:0</p>
                        <p class="card-body">投资总额:0 元</p>
                        <p class="card-body">累计总利润:0 元</p>
                    </card>
                </a>
            </i-col>
        </row>
    </div>
    <script src="js/index.js"></script>
</div>
</html>