<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<header th:fragment="side" >
		<div id="side" v-cloak>
			 <i-menu :active-name="activeName" :open-names="openName" >
			 	<div v-for="(menu,index) in menus">
				 	<submenu  v-if="menu.childrens.length>0" :name="index">
				 		<template slot="title">
			                {{menu.permissionName}}
			            </template>
			            <menu-item v-for="item in menu.childrens" v-if="item.url" :name="item.url" :to="item.url">{{item.permissionName}}</menu-item>
				 	</submenu>
				 	<menu-item  v-if="menu.childrens.length<1 && menu.url" :name="menu.url" :to="menu.url">{{menu.permissionName}}</menu-item>
			 	</div>
		    </i-menu>
	    </div>

	</header>
</html>