<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<header th:fragment="side" >
		<div id="side">
			 <i-menu :active-name="activeName" :open-names="openName" >
		        <submenu name="1">
		            <template slot="title">
		                总览
		            </template>
	                <menu-item name="approval" to="/approval">保理业务</menu-item>
	                <menu-item name="1-2">尽调审核</menu-item>
		            <!-- 
		            <menu-group title="母基金业务">
		                <menu-item name="1-3">业务立项</menu-item>
		                <menu-item name="1-4">立项审核</menu-item>
		            </menu-group>
		            <menu-group title="直投业务">
		                <menu-item name="1-5">业务立项</menu-item>
		                <menu-item name="1-6">立项审核</menu-item> -->
		            </menu-group>
		        </submenu>
		        <submenu name="2">
		            <template slot="title">
		                三重一大
		            </template>
		            <menu-item name="past" to="/past">三重一大</menu-item>
		        </submenu>
		        <submenu name="3">
		            <template slot="title">
		                合同管理
		            </template>
		            <menu-item name="contractInfo" to="/contractInfo">保理合同拟定</menu-item>
		            <menu-item name="contractAudit" to="/contractAudit">保理合同审核</menu-item>
		            <menu-item name="contractSign" to="/contractSign">保理合同签署</menu-item>
					<menu-item name="signListTemplate" to="/signListTemplate">签署清单模板</menu-item>
				</submenu>
		        <submenu name="4">
		            <template slot="title">
		                放款
		            </template>
		            <menu-item name="loanApply" to="/loanApply">放款申请</menu-item>
		            <menu-item name="4-2">放款审核</menu-item>
		        </submenu>
		        <submenu name="5">
		            <template slot="title">
		                归档管理
		            </template>
		            <menu-item name="filingProject" to="/filingProject?type=0">归档申请</menu-item>
		            <menu-item name="filingProjectAudit" to="/filingProject?type=1">归档审核</menu-item>
		        </submenu>
		        <submenu name="6">
		            <template slot="title">
		                会议系统
		            </template>
					<menu-item name="meeting" to="/meeting">会议管理</menu-item>
		            <!-- <menu-item name="6-2">会议纪要查询</menu-item> -->
		        </submenu>
		        <submenu name="7">
		            <template slot="title">
		                资产报表
		            </template>
		            <menu-item name="7-1">资产报表</menu-item>
		            <menu-item name="7-2">收益报表</menu-item>
		        </submenu>
		        <submenu name="8">
		            <template slot="title">
		                系统管理
		            </template>
		            <menu-item name="user" to="/user">人员管理</menu-item>
		            <menu-item name="role" to="/role">角色管理</menu-item>
		            <menu-item name="permission" to="/permission">权限管理</menu-item>
					<menu-item name="organizational" to="/organizational">组织架构管理</menu-item>
					<menu-item name="flowConfig" to="/flowConfig">流程审核配置</menu-item>
		        </submenu>
		    </i-menu>
	    </div>

	</header>
</html>