<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/layout">
<div layout:fragment="content">
    <div id="financeOperation">
        <row>
            <i-col span="22" offset="1">
                <br>
                <h2>财务操作</h2>
                <br>
            </i-col>
            <i-form ref="entityDataForm" :model="project" :label-width="150">
                <row>
                    <i-col span="8">
                        <form-item label="放款项目编号">
                            {{project.projectId}}
                        </form-item>
                    </i-col>
                    <i-col span="8">
                        <form-item label="放款总金额" prop="project.projectId">
                            {{totalLoanAmount}}
                        </form-item>
                    </i-col>
                </row>
            </i-form>
        </row>

        <row>
            <i-col span="22" offset="1">
                <Tabs :animated="false">
                    <Tab-pane label="放款">
                        <card dis-hover title="分期信息" >

                            <table class="table table-hover table-bordered" style="border: 0px;width: 80%">
                                <thead>
                                <tr>
                                    <th width="100">序号</th>
                                    <th width="100">金额</th>
                                    <th>日期</th>
                                    <th>放款凭证</th>
                                    <th align="center">
                                        <i-button type="success" size="small"  ghost icon="md-add" @click="addLoanInstallment">
                                            添加
                                        </i-button>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(installment,index) in project.detail.loanInstallments" :key="index">
                                    <td width="100" align="center">{{index+1}}</td>
                                    <td  width="100" align="center">
                                        <span v-if="(installment.id!=null)">{{ installment.amount }}</span>
                                        <i-col v-if="(installment.id==null)">
                                            <input-number min="0" :max="100000000000" class="select-width-140" v-model="installment.amount"></input-number>
                                        </i-col>
                                    </td>
                                    <td align="center">
                                        <i-col v-if="(installment.id==null)">
                                            <date-picker  placement="top-start" type="date"  v-model="installment.installmentDate"></date-picker>
                                        </i-col>
                                        <i-col v-if="(installment.id!=null)">
                                            <date-picker disabled="true"   placement="top-start" type="date"  v-model="installment.installmentDate"></date-picker>
                                        </i-col>
                                    </td>
                                    <td align="center">
                                        <Tag v-if="(installment.item!=null)" closable  @on-close="deleteFileLoanInstallment(installment.item.itemValue,index)">
                                            {{installment.item.itemName}}
                                        </Tag>
                                        <Upload  v-if="(installment.item ==null)" action="/file/uploadInstallment" :data="{'index': index}" :on-success="uploadSuccessLoanInstallment" :on-error="uploadError"
                                                 :on-remove="removeFile" show-upload-list="false">
                                            <i-button size="small"  icon="ios-cloud-upload-outline">上传</i-button>
                                        </Upload>
                                    </td>
                                    <td align="center">
                                        <i-button v-if="(installment.id==null)" type="error"  size="small" ghost  icon="md-close" @click="cancel">删除</i-button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </card>
                        <br>
                        <row type="flex" justify="end">
                            <i-col span="8" offset="16">
                                <i-button type="success" @click="saveLoanInstallment" >保存</i-button>
                                <i-button type="primary" @click="cancelLoanInstallment" style="margin:0 8px">返回</i-button>
                            </i-col>
                        </row>
                    </Tab-pane>
                    <Tab-pane label="保理费">
                        <row type="flex" justify="end">
                            <i-col span="8" offset="16">
                                <i-button type="success" @click="cancel" >保存</i-button>
                                <i-button type="primary" @click="cancel" style="margin:0 8px">返回</i-button>
                            </i-col>
                        </row>
                    </Tab-pane>
                    <Tab-pane label="本金">
                        <row type="flex" justify="end">
                            <i-col span="8" offset="16">
                                <i-button type="success" @click="cancel" >保存</i-button>
                                <i-button type="primary" @click="cancel" style="margin:0 8px">返回</i-button>
                            </i-col>
                        </row>
                    </Tab-pane>
                </Tabs>
            </i-col>
        </row>
        <input th:value="${id}" id="projectId" style="display:none"></input>
    </div>
    <script src="js/finance/operation.js"></script>
</div>
</html>