<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/layout">
<div layout:fragment="content">
    <div id="fund" v-cloak>
        <br>
        <card dis-hover title="搜索条件">
            <p>
                <i-form ref="searchForm" :model="formInline" :label-width="80" inline>
                    <form-item label="项目编号" prop="projectId">
                        <i-input placeholder="输入项目编号" class="inputw" v-model="formInline.projectId"></i-input>
                    </form-item>
                    <form-item label="项目名称" prop="projectName">
                        <i-input placeholder="输入项目名称" class="inputw" v-model="formInline.projectName"></i-input>
                    </form-item>
                    <form-item label="项目进度" prop="detail.projectStep">
                        <i-select class="inputw" v-model="formInline.detail.projectStep" clearable>
                            <i-option v-for="item in fundStatus" :value="item.value">{{item.text}}</i-option>
                        </i-select>
                    </form-item>
                    <form-item label="投资时间" prop="">
                        <date-picker type="daterange" placeholder="请选择投资时间" class="inputw"
                                     v-model="formInline.stateDate"></date-picker>
                    </form-item>
                    <form-item label="投资主体" prop="investmentPart">
                        <i-input placeholder="输入投资主体" class="inputw"
                                 v-model="formInline.detail.investmentPart"></i-input>
                    </form-item>
                    <row type="flex">
                        <i-col span="12" offset="6">
                            <i-button type="primary" icon="ios-search" @click="search">查询</i-button>
                            <i-button type="success" icon="ios-add" @click="open" style="margin-left: 8px">创建</i-button>
                            <i-button type="info" icon="ios-cloud-download-outline" @click="download"
                                      style="margin-left: 8px">导出项目
                            </i-button>
                            <i-button icon="ios-refresh" @click="reset" style="margin:0 8px">重置</i-button>
                        </i-col>
                    </row>
                </i-form>
            </p>
        </card>
        <br>
        <card dis-hover title="搜索结果">
            <i-table border :columns="tableColumns" :data="pageInfo.list"></i-table>
            <br/>
            <page :total="pageInfo.total" show-elevator show-total :page-size="pageInfo.pageSize"
                  @on-change="pageChange"></page>
        </card>

        <modal v-model="modal1" :title="formTitle" mask-closable="false" fullscreen="true">
            <div id="modalForm">
                <i-form ref="entityDataForm" :model="addForm" :rules="validata" :label-width="120" inline>
                    <card dis-hover title="项目信息">
                        <row>
                            <i-col span="8">
                                <form-item label="项目编号" prop="projectId"
                                           v-if="addForm.projectId && addForm.projectId!=''">
                                    <i-input placeholder="项目名称" readOnly class="inputw"
                                             v-model="addForm.projectId"></i-input>
                                </form-item>
                            </i-col>
                            <i-col span="12">
                                <form-item label="项目名称" prop="projectName">
                                    <i-input placeholder="输入项目名称" class="inputm"
                                             v-model="addForm.projectName"></i-input>
                                </form-item>
                            </i-col>
                        </row>

                        <form-item label="项目成员A角" prop="detail.memberA.id">
                            <i-select class="inputw" v-model="addForm.detail.memberA.id" clearable>
                                <i-option v-for="item in users" :value="parseInt(item.value)">{{item.text}}</i-option>
                            </i-select>
                        </form-item>
                        <form-item label="项目成员B角" prop="detail.memberBArr">
                            <i-select class="inputw" multiple v-model="addForm.detail.memberBArr" clearable>
                                <i-option v-for="item in users" :value="parseInt(item.value)">{{item.text}}</i-option>
                            </i-select>
                        </form-item>
                        <form-item label="项目来源" prop="detail.projectChannel">
                            <i-input placeholder="输入项目来源" class="inputw"
                                     v-model="addForm.detail.projectChannel"></i-input>
                        </form-item>
                        <form-item label="项目地域" prop="detail.projectChannel">
                            <radio-group v-model="boundType">
                                <radio label="INBOUND">区内</radio>
                                <radio label="OUTBOUND">区外</radio>
                            </radio-group>
                        </form-item>
                        <form-item>
                            <i-input placeholder="输入项目地域" class="inputw" v-if="boundType == 'OUTBOUND'"
                                     v-model="addForm.detail.bound"></i-input>
                            <i-select v-model="addForm.detail.bound" class="inputw" v-if="boundType == 'INBOUND'"
                                      clearable>
                                <i-option v-for="item in inbounds" :value="item.text">{{item.text}}</i-option>
                            </i-select>
                        </form-item>
                        <form-item label="认缴出资" prop="detail.investment">
                            <input-number placeholder="输入投资金额" :max="100000000000" :min="0" class="inputw"
                                          :formatter="formatter" :parser="parser"
                                          v-model="addForm.detail.investment"></input-number>&nbsp;元
                        </form-item>
                        <form-item label="实缴出资" prop="detail.realInvestment">
                            <input-number placeholder="输入投资金额" :max="100000000000" :min="0" class="inputw"
                                          :formatter="formatter" :parser="parser"
                                          v-model="addForm.detail.realInvestment"></input-number>&nbsp;元
                        </form-item>
                        <form-item label="投资主体" prop="detail.investmentPart">
                            <i-input placeholder="输入投资主体" class="inputw"
                                     v-model="addForm.detail.investmentPart"></i-input>
                        </form-item>
                        <form-item label="每股价格" prop="detail.sharePrice">
                            <input-number placeholder="每股价格" :max="100000000000" :min="0" class="inputw"
                                          :formatter="formatter" :parser="parser"
                                          v-model="addForm.detail.sharePrice"></input-number>&nbsp;元
                        </form-item>
                        <form-item label="股份数量" prop="detail.shareNum">
                            <input-number placeholder="股份数量" :max="1000000000" :min="0" class="inputw"
                                          v-model="addForm.detail.shareNum"></input-number>&nbsp;万股
                        </form-item>
                        <form-item label="投后持股比例" prop="detail.shareHodingRate">
                            <input-number placeholder="输入投后持股比例" :max="100" :min="0" class="inputw"
                                          v-model="addForm.detail.shareHodingRate"></input-number>&nbsp;%
                        </form-item>
                        <form-item label="投前估值" prop="detail.preVal">
                            <input-number placeholder="输入投前估值" :max="100000000000" :min="0" class="inputw"
                                          :formatter="formatter" :parser="parser"
                                          v-model="addForm.detail.preVal"></input-number>&nbsp;元
                        </form-item>
                        <form-item label="投后估值" prop="detail.postVal">
                            <input-number placeholder="输入投前估值" :max="100000000000" :min="0" class="inputw"
                                          :formatter="formatter" :parser="parser"
                                          v-model="addForm.detail.postVal"></input-number>&nbsp;元
                        </form-item>
                        <form-item label="出资时间" prop="detail.investemntTime">
                            <date-picker type="date" placeholder="请选择投资时间" class="inputw"
                                         v-model="addForm.detail.investemntTime"></date-picker>
                        </form-item>
                    </card>
                    <br>
                    <card dis-hover title="公司信息">
                        <row>
                            <i-col span="8">
                                <form-item label="公司简称" prop="detail.companySortName">
                                    <i-input placeholder="输入公司简称" class="inputw"
                                             v-model="addForm.detail.companySortName"></i-input>
                                </form-item>
                            </i-col>
                            <i-col span="12">
                                <form-item label="公司全称" prop="detail.companyFullName">
                                    <i-input placeholder="输入公司全称" class="inputm"
                                             v-model="addForm.detail.companyFullName"></i-input>
                                </form-item>
                            </i-col>
                            <i-col span="1">
                                <i-button :disabled="!addForm.detail.companyFullName" @click="queryCompany" type="info">
                                    天眼查
                                </i-button>
                            </i-col>
                        </row>
                        <form-item label="实际控制人" prop="detail.controllerOwner">
                            <i-input placeholder="输入实际控制人" class="inputw"
                                     v-model="addForm.detail.controllerOwner"></i-input>
                        </form-item>
                        <form-item label="注册资本" prop="detail.registeredCapital">
                            <input-number placeholder="输入投前估值" :max="100000000000" :min="0" class="inputw"
                                          :formatter="formatter" :parser="parser"
                                          v-model="addForm.detail.registeredCapital"></input-number>&nbsp;元
                        </form-item>
                        <form-item label="实收资本" prop="detail.paidCapital">
                            <input-number placeholder="输入投前估值" :max="100000000000" :min="0" class="inputw"
                                          :formatter="formatter" :parser="parser"
                                          v-model="addForm.detail.paidCapital"></input-number>&nbsp;元
                        </form-item>
                        <form-item label="注册时间" prop="detail.registerTime">
                            <i-input placeholder="输入注册时间" class="inputw"
                                     v-model="addForm.detail.registerTime"></i-input>
                        </form-item>
                        <form-item label="所属地" prop="detail.location">
                            <i-input placeholder="输入所属地" class="inputw" v-model="addForm.detail.location"></i-input>
                        </form-item>
                        <form-item label="所属行业" prop="detail.industry">
                            <i-input placeholder="输入所属行业" class="inputw" v-model="addForm.detail.industry"></i-input>
                        </form-item>
                        <form-item label="主营业务" prop="detail.mainBusiness">
                            <i-input placeholder="输入主营业务" class="inputw"
                                     v-model="addForm.detail.mainBusiness"></i-input>
                        </form-item>
                        <row>
                            <i-col>
                                <form-item label="地址" prop="detail.address">
                                    <i-input placeholder="输入公司地址" class="inputm"
                                             v-model="addForm.detail.address"></i-input>
                                </form-item>
                            </i-col>
                        </row>
                    </card>
                    <br>
                    <card dis-hover title="项目附件">
                        <row>
                            <i-col span="20">
                                <form-item v-if="items.length>0 " label="项目附件:">
                                    <row v-for="kitem in items">
                                        <Tag color="warning">{{kitem.key|toTypeName}}</Tag>
                                        <span v-for="item in kitem.value">
                                            <i-button v-if="item.itemKind == 'DOC' " type="info" ghost size="small"
                                                      icon="ios-attach"
                                                      @click="downloadItem(item)">
                                                {{item.itemName}}
                                            </i-button> &nbsp;
                                            <i-button v-if="item.itemKind == 'WEB' " type="success" ghost size="small"
                                                      icon="ios-cloud-done-outline"
                                                      @click="openItem(item)">
                                                {{item.itemName}}
                                            </i-button> &nbsp;
                                        </span>
                                    </row>
                                </form-item>
                            </i-col>
                        </row>
                        <span v-if="formTitle!=''">
                            <row>
                                <i-col span="20">
                                    <form-item label="附件上传:">
                                        <Upload action="/file/upload" :on-success="uploadSuccess"
                                                :on-error="uploadError"
                                                :on-remove="removeFile">
                                            <i-button size="small" icon="ios-cloud-upload-outline">上传文件</i-button>
                                        </Upload>
                                    </form-item>
                                </i-col>
                            </row>
                            <row v-for="(item,index)  in webItems">
                                <i-col span="8">
                                    <form-item label="网页附件附件名称:">
                                        <i-input placeholder="附件名称" class="inputw"
                                                 v-model="item.itemName"></i-input>
                                    </form-item>
                                </i-col>
                                <i-col span="8">
                                    <form-item label="网页附件附件地址:">
                                        <i-input placeholder="附件网页地址" class="inputw" v-model="item.itemValue">
                                        </i-input>
                                    </form-item>
                                </i-col>
                                <i-col span="4">
                                    <i-button type="success" shape="circle" size="small" ghost icon="md-add"
                                              v-if="index==0"
                                              @click="add">添加
                                    </i-button>
                                    <i-button type="error" shape="circle" size="small" ghost icon="md-close"
                                              v-if="index!=0"
                                              @click="remove(index)">删除
                                    </i-button>
                                </i-col>
                            </row>
                        </span>
                    </card>
                </i-form>
            </div>
            <modal v-model="modal2" width="360">
                <p slot="header" style="color:#2b85e4;text-align:center">
                    <Icon type="ios-information-circle"></Icon>
                    <span>项目退出</span>
                </p>
                <div style="text-align:center">
                    <radio-group v-model="addForm.detail.outType">
                        <radio label="MERGER_OUT">并购退出</radio>
                        <radio label="BUYBACK">回购退出</radio>
                        <radio label="LIST_OUT">上市退出</radio>
                    </radio-group>
                </div>
                <div slot="footer">
                    <i-button type="info" size="large" long @click="projectOut">退出</i-button>
                </div>
            </modal>
            <div slot="footer">
                <i-button v-if="addForm.detail.projectStep == 'POST_INVESTMENT' " type="success" @click="modal2=true"
                          style="margin-left: 8px">项目退出
                </i-button>
                <i-button v-if="formTitle!=''" type="primary" @click="save" style="margin-left: 8px">确定</i-button>
                <i-button @click="cancel" style="margin-left: 8px">取消</i-button>
            </div>
        </modal>
    </div>
    <script src="js/fund/main.js"></script>
</div>
</html>