<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/layout">
	<div layout:fragment="content">
		<div id="contractInfoAdd">
			<card dis-hover title="新增合同" style="width:100%">
				<i-form ref="addForm" :model="addForm" :rules="ruleValidate" :label-width="150">
					<template>
						<Collapse v-model="panelOpen" accordion>
							<Panel name="projectInfo">
								项目信息
								<div slot="content">
									<row>
										<i-col span="8">
											<form-item label="项目编号">
												<span>{{project.projectId}}</span>
											</form-item>
										</i-col>
										<i-col span="12" >
											<form-item label="项目名称">
												<span>{{project.projectName}}</span>
											</form-item>
										</i-col>
										<i-col span="8" >
											<form-item label="项目模式">
												<span v-if="project.model == 'RECOURSE_RIGHT'">有追索权模式</span>
												<span v-if="project.model == 'DIS_RECOURSE_RIGHT'">无追索权模式</span>
											</form-item>
										</i-col>
									</row>
								</div>
							</Panel>
							<Panel name="factoringContract">
								保理合同
								<div slot="content">
									<Card>
										<p slot="title">
											乙方信息
										</p>
										<form-item label="名称" prop="contractExtendInfo.spCompanyName">
											<i-input placeholder="请输入乙方公司名称" v-model="addForm.contractExtendInfo.spCompanyName"></i-input>
										</form-item>
										<form-item label="住所" prop="contractExtendInfo.spResidence">
											<i-input placeholder="请输入乙方住所" v-model="addForm.contractExtendInfo.spResidence"></i-input>
										</form-item>
										<form-item label="法定代表人" prop="contractExtendInfo.spLegalPerson">
											<i-input placeholder="请输入乙方法定代表人" v-model="addForm.contractExtendInfo.spLegalPerson"></i-input>
										</form-item>
										<form-item label="联系地址" prop="contractExtendInfo.spContactAddress">
											<i-input placeholder="请输入乙方联系地址" v-model="addForm.contractExtendInfo.spContactAddress"></i-input>
										</form-item>
										<form-item label="邮编" prop="contractExtendInfo.spPostCode">
											<i-input placeholder="请输入乙方邮编" v-model="addForm.contractExtendInfo.spPostCode"></i-input>
										</form-item>
										<form-item label="电话" prop="contractExtendInfo.spTelephone">
											<i-input placeholder="请输入乙方电话" v-model="addForm.contractExtendInfo.spTelephone"></i-input>
										</form-item>
										<form-item label="传真" prop="contractExtendInfo.spFax">
											<i-input placeholder="请输入乙方传真" v-model="addForm.contractExtendInfo.spFax"></i-input>
										</form-item>
									</Card>
									<Card>
										<p slot="title">
											商务合同
										</p>
										<form-item label="债务人" prop="contractExtendInfo.obligor">
											<i-input placeholder="请输入债务人" v-model="addForm.contractExtendInfo.obligor"></i-input>
										</form-item>
										<form-item label="签署日期" prop="contractExtendInfo.signDate">
											<date-picker type="date" placeholder="请输入签署日期" v-model="addForm.contractExtendInfo.signDate" format="yyyy-MM-dd"></date-picker>
										</form-item>
										<form-item label="合同名称" prop="contractExtendInfo.contractName">
											<i-input placeholder="请输入合同名称" v-model="addForm.contractExtendInfo.contractName"></i-input>
										</form-item>
									</Card>
									<Card>
										<p slot="title">
											应收账款
										</p>
										<form-item label="应收账款" prop="contractExtendInfo.receivableMoney">
											<i-input placeholder="请输入应收账款" v-model="addForm.contractExtendInfo.receivableMoney"></i-input>
										</form-item>
										<form-item label="应收账款（大写）" prop="contractExtendInfo.receivableMoneyUpper">
											<i-input placeholder="请输入应收账款（大写）" v-model="addForm.contractExtendInfo.receivableMoneyUpper"></i-input>
										</form-item>
										<form-item label="债务人享有金额" prop="contractExtendInfo.obligorEnjoyMoney">
											<i-input placeholder="请输入债务人享有金额" v-model="addForm.contractExtendInfo.obligorEnjoyMoney"></i-input>
										</form-item>
										<form-item label="债务人享有金额（大写）" prop="contractExtendInfo.obligorEnjoyMoneyUpper">
											<i-input placeholder="请输入债务人享有金额（大写）" v-model="addForm.contractExtendInfo.obligorEnjoyMoneyUpper"></i-input>
										</form-item>
										<form-item label="应收账款受让款" prop="contractExtendInfo.receivableAssigneeMoney">
											<i-input placeholder="请输入应收账款受让款" v-model="addForm.contractExtendInfo.receivableAssigneeMoney"></i-input>
										</form-item>
										<form-item label="应收账款受让款（大写）" prop="contractExtendInfo.receivableAssigneeMoneyUpper">
											<i-input placeholder="请输入应收账款受让款（大写）" v-model="addForm.contractExtendInfo.receivableAssigneeMoneyUpper"></i-input>
										</form-item>
										<form-item label="应收账款受让款首付款" prop="contractExtendInfo.receivableAssigneeFirstMoney">
											<i-input placeholder="请输入应收账款受让款首付款" v-model="addForm.contractExtendInfo.receivableAssigneeFirstMoney"></i-input>
										</form-item>
										<form-item label="应收账款受让款首付款（大写）" prop="contractExtendInfo.receivableAssigneeFirstMoneyUpper">
											<i-input placeholder="请输入应收账款受让款首付款（大写）" v-model="addForm.contractExtendInfo.receivableAssigneeFirstMoneyUpper"></i-input>
										</form-item>
									</Card>
									<Card>
										<p slot="title">
											应收账款回收款
										</p>
										<form-item label="应收账款回收款" prop="contractExtendInfo.receivableRecoveryMoney">
											<i-input placeholder="请输入应收账款回收款" v-model="addForm.contractExtendInfo.receivableRecoveryMoney"></i-input>
										</form-item>
										<form-item label="应收账款回收款（大写）" prop="contractExtendInfo.receivableRecoveryMoneyUpper">
											<i-input placeholder="请输入应收账款回收款（大写）" v-model="addForm.contractExtendInfo.receivableRecoveryMoneyUpper"></i-input>
										</form-item>
										<form-item label="应收账款支付日期" prop="contractExtendInfo.receivableRecoveryMoneyPaytime">
											<i-input placeholder="请输入应收账款支付日期" v-model="addForm.contractExtendInfo.receivableRecoveryMoneyPaytime"></i-input>
										</form-item>
									</Card>
									<Card>
										<p slot="title">
											甲方指定账户
										</p>
										<form-item label="户名" prop="contractExtendInfo.fpAccountName">
											<i-input placeholder="请输入甲方户名" v-model="addForm.contractExtendInfo.fpAccountName"></i-input>
										</form-item>
										<form-item label="银行名称" prop="contractExtendInfo.fpBankName">
											<i-input placeholder="请输入甲方银行名称" v-model="addForm.contractExtendInfo.fpBankName"></i-input>
										</form-item>
										<form-item label="账户" prop="contractExtendInfo.fpAccount">
											<i-input placeholder="请输入甲方银行账户" v-model="addForm.contractExtendInfo.fpAccount"></i-input>
										</form-item>
									</Card>
									<Card>
										<p slot="title">
											乙方指定账户
										</p>
										<form-item label="户名" prop="contractExtendInfo.spAccountName">
											<i-input placeholder="请输入乙方户名" v-model="addForm.contractExtendInfo.spAccountName"></i-input>
										</form-item>
										<form-item label="银行名称" prop="contractExtendInfo.spBankName">
											<i-input placeholder="请输入乙方银行名称" v-model="addForm.contractExtendInfo.spBankName"></i-input>
										</form-item>
										<form-item label="账户" prop="contractExtendInfo.spAccount">
											<i-input placeholder="请输入乙方银行账户" v-model="addForm.contractExtendInfo.spAccount"></i-input>
										</form-item>
									</Card>
									<Card>
										<p slot="title">
											特别条款
										</p>
										<form-item label="合同强制解除日期" prop="contractExtendInfo.ompulsoryRescissionDate">
											<i-input placeholder="请输入合同强制解除日期" v-model="addForm.contractExtendInfo.ompulsoryRescissionDate"></i-input>
										</form-item>
									</Card>
								</div>
							</Panel>
							<Panel name="confirmation">
								应收账款转让确认函
								<div slot="content">
									<Card>
										<p slot="title">
											确认函
										</p>
										<form-item label="让与人" prop="contractReceivableConfirmation.assignor">
											<i-input placeholder="请输入让与人" v-model="addForm.contractReceivableConfirmation.assignor"></i-input>
										</form-item>
										<form-item label="签署日期" prop="contractReceivableConfirmation.signDate">
											<date-picker type="date" placeholder="请输入签署日期" v-model="addForm.contractReceivableConfirmation.signDate" format="yyyy-MM-dd"></date-picker>
										</form-item>
										<form-item label="债务人" prop="contractReceivableConfirmation.obligor">
											<i-input placeholder="请输入债务人" v-model="addForm.contractReceivableConfirmation.obligor"></i-input>
										</form-item>
										<form-item label="商务合同名称" prop="contractReceivableConfirmation.businessContractName">
											<i-input placeholder="请输入商务合同名称" v-model="addForm.contractReceivableConfirmation.businessContractName"></i-input>
										</form-item>
										<form-item label="应收账款受让款" prop="contractReceivableConfirmation.receivableAssigneeMoney">
											<i-input placeholder="请输入应收账款受让款" v-model="addForm.contractReceivableConfirmation.receivableAssigneeMoney"></i-input>
										</form-item>
									</Card>
									<Card>
										<p slot="title">
											应收账款的确认和转让
										</p>
										<form-item label="应收账款回收款" prop="contractReceivableConfirmation.receivableRecoveryMoney">
											<i-input placeholder="请输入让与人" v-model="addForm.contractReceivableConfirmation.receivableRecoveryMoney"></i-input>
										</form-item>
										<form-item label="应收账款回收款截止日期" prop="contractReceivableConfirmation.receivableExpiryDate">
											<i-input placeholder="请输入应收账款回收款截止日期" v-model="addForm.contractReceivableConfirmation.receivableExpiryDate"></i-input>
										</form-item>
										<form-item label="合同应收账款" prop="contractReceivableConfirmation.contractReceivable">
											<i-input placeholder="请输入合同应收账款" v-model="addForm.contractReceivableConfirmation.contractReceivable"></i-input>
										</form-item>
										<form-item label="人民币（大写）" prop="contractReceivableConfirmation.contractReceivableUpper">
											<i-input placeholder="请输入合同应收账款（大写）" v-model="addForm.contractReceivableConfirmation.contractReceivableUpper"></i-input>
										</form-item>
										<form-item label="让与人对债务人的应收账款" prop="contractReceivableConfirmation.assignorAbligorReceivable">
											<i-input placeholder="请输入让与人对债务人的应收账款" v-model="addForm.contractReceivableConfirmation.assignorAbligorReceivable"></i-input>
										</form-item>
										<form-item label="人民币（大写）" prop="contractReceivableConfirmation.assignorAbligorReceivableUpper">
											<i-input placeholder="请输入让与人对债务人的应收账款（大写）" v-model="addForm.contractReceivableConfirmation.assignorAbligorReceivableUpper"></i-input>
										</form-item>
										<form-item label="受让人已向让与人支付的应收账款受让款" prop="contractReceivableConfirmation.receivableAssigneeMoneyPaid">
											<i-input placeholder="请输入受让人已向让与人支付的应收账款受让款" v-model="addForm.contractReceivableConfirmation.receivableAssigneeMoneyPaid"></i-input>
										</form-item>
										<form-item label="人民币（大写）" prop="contractReceivableConfirmation.receivableAssigneeMoneyPaidUpper">
											<i-input placeholder="请输入受让人已向让与人支付的应收账款受让款（大写）" v-model="addForm.contractReceivableConfirmation.receivableAssigneeMoneyPaidUpper"></i-input>
										</form-item>
										<form-item label="让与人提交资料日期" prop="contractReceivableConfirmation.assignorCommitDate">
											<i-input placeholder="请输入让与人提交资料日期" v-model="addForm.contractReceivableConfirmation.assignorCommitDate"></i-input>
										</form-item>
									</Card>
									<Card>
										<p slot="title">
											应收账款回款的支付
										</p>
										<form-item label="受让人户名" prop="contractReceivableConfirmation.assigneeAccountName">
											<i-input placeholder="请输入受让人户名" v-model="addForm.contractReceivableConfirmation.assigneeAccountName"></i-input>
										</form-item>
										<form-item label="受让人开户银行" prop="contractReceivableConfirmation.assigneeBankName">
											<i-input placeholder="请输入受让人开户银行" v-model="addForm.contractReceivableConfirmation.assigneeBankName"></i-input>
										</form-item>
										<form-item label="受让人账户" prop="contractReceivableConfirmation.assigneeAccount">
											<i-input placeholder="请输入受让人账户" v-model="addForm.contractReceivableConfirmation.assigneeAccount"></i-input>
										</form-item>
									</Card>
									<Card>
										<p slot="title">
											其他事项
										</p>
										<form-item label="确认函签订地" prop="contractReceivableConfirmation.confirmationAddress">
											<i-input placeholder="请输入确认函签订地" v-model="addForm.contractReceivableConfirmation.confirmationAddress"></i-input>
										</form-item>
									</Card>
								</div>
							</Panel>
							<Panel name="agreement">
								应收账款转让登录协议
								<div slot="content">
									<Card>
										<p slot="title">
											乙方信息
										</p>
										<form-item label="名称" prop="contractReceivableAgreement.spName">
											<i-input placeholder="请输入乙方名称" v-model="addForm.contractReceivableAgreement.spName"></i-input>
										</form-item>
										<form-item label="住所" prop="contractReceivableAgreement.spResidence">
											<i-input placeholder="请输入乙方住所" v-model="addForm.contractReceivableAgreement.spResidence"></i-input>
										</form-item>
										<form-item label="法定代表人" prop="contractReceivableAgreement.spLegalPerson">
											<i-input placeholder="请输入乙方法定代表人" v-model="addForm.contractReceivableAgreement.spLegalPerson"></i-input>
										</form-item>
										<form-item label="联系地址" prop="contractReceivableAgreement.spContactAddress">
											<i-input placeholder="请输入乙方联系地址" v-model="addForm.contractReceivableAgreement.spContactAddress"></i-input>
										</form-item>
										<form-item label="邮编" prop="contractReceivableAgreement.spPostCode">
											<i-input placeholder="请输入乙方邮编" v-model="addForm.contractReceivableAgreement.spPostCode"></i-input>
										</form-item>
										<form-item label="电话" prop="contractReceivableAgreement.spTelephone">
											<i-input placeholder="请输入乙方电话" v-model="addForm.contractReceivableAgreement.spTelephone"></i-input>
										</form-item>
										<form-item label="传真" prop="contractReceivableAgreement.spFax">
											<i-input placeholder="请输入乙方传真" v-model="addForm.contractReceivableAgreement.spFax"></i-input>
										</form-item>
										<form-item label="签署日期" prop="contractReceivableAgreement.signDate">
											<date-picker type="date" placeholder="请输入签署日期" v-model="addForm.contractReceivableAgreement.signDate" format="yyyy-MM-dd"></date-picker>
										</form-item>
									</Card>
								</div>
							</Panel>
							<Panel v-if="project.model == 'DIS_RECOURSE_RIGHT'" name="financialAgreement">
								财务顾问服务协议
								<div slot="content">
									<form-item label="甲方公司名称" prop="contractFasa.fpCompanyName">
										<i-input placeholder="请输入甲方公司名称" v-model="addForm.contractFasa.fpCompanyName"></i-input>
									</form-item>
									<form-item label="甲方住所" prop="contractFasa.fpResidence">
										<i-input placeholder="请输入甲方住所" v-model="addForm.contractFasa.fpResidence"></i-input>
									</form-item>
									<form-item label="甲方法定代表人" prop="contractFasa.fpLegalPerson">
										<i-input placeholder="请输入甲方法定代表人" v-model="addForm.contractFasa.fpLegalPerson"></i-input>
									</form-item>
									<form-item label="甲方邮编" prop="contractFasa.fpPostCode">
										<i-input placeholder="请输入甲方邮编" v-model="addForm.contractFasa.fpPostCode"></i-input>
									</form-item>
									<form-item label="甲方电话" prop="contractFasa.fpTelephone">
										<i-input placeholder="请输入甲方电话" v-model="addForm.contractFasa.fpTelephone"></i-input>
									</form-item>
									<form-item label="甲方传真" prop="contractFasa.fpFax">
										<i-input placeholder="请输入甲方传真" v-model="addForm.contractFasa.fpFax"></i-input>
									</form-item>
									<form-item label="协议签署地" prop="contractFasa.signAddress">
										<i-input placeholder="请输入协议签署地" v-model="addForm.contractFasa.signAddress"></i-input>
									</form-item>
									<form-item label="协议签署日期" prop="contractFasa.singDate">
										<i-input placeholder="请输入协议签署日期" v-model="addForm.contractFasa.singDate"></i-input>
									</form-item>
									<form-item label="财务顾问费" prop="contractFasa.advisoryServiceMoney">
										<i-input placeholder="请输入财务顾问费" v-model="addForm.contractFasa.advisoryServiceMoney"></i-input>
									</form-item>
									<form-item label="财务顾问费（大写）" prop="contractFasa.advisoryServiceMoneyUpper">
										<i-input placeholder="请输入财务顾问费（大写）" v-model="addForm.contractFasa.advisoryServiceMoneyUpper"></i-input>
									</form-item>

									<form-item label="财务顾问费约定" prop="contractFasa.advisoryServiceMoneyAppointment">
										<i-input placeholder="请输入财务顾问费约定" v-model="addForm.contractFasa.advisoryServiceMoneyAppointment"></i-input>
									</form-item>
									<form-item label="乙方银行名称" prop="contractFasa.spBankName">
										<i-input placeholder="请输入乙方银行名称" v-model="addForm.contractFasa.spBankName"></i-input>
									</form-item>
									<form-item label="乙方银行账户" prop="contractFasa.spAccount">
										<i-input placeholder="请输入乙方银行账户" v-model="addForm.contractFasa.spAccount"></i-input>
									</form-item>
									<form-item label="协议有效期月数" prop="contractFasa.expiryDateMonth">
										<i-input placeholder="请输入协议有效期月数" v-model="addForm.contractFasa.expiryDateMonth"></i-input>
									</form-item>
								</div>
							</Panel>
							<Panel name="resolution">
								股东会决议
								<div slot="content">
									<Card>
										<p slot="title">
											乙方信息
										</p>
										<form-item label="名称" prop="contractReceivableAgreement.spName">
											<i-input placeholder="请输入乙方名称" v-model="addForm.contractReceivableAgreement.spName"></i-input>
										</form-item>
										<form-item label="住所" prop="contractReceivableAgreement.spResidence">
											<i-input placeholder="请输入乙方住所" v-model="addForm.contractReceivableAgreement.spResidence"></i-input>
										</form-item>
										<form-item label="法定代表人" prop="contractReceivableAgreement.spLegalPerson">
											<i-input placeholder="请输入乙方法定代表人" v-model="addForm.contractReceivableAgreement.spLegalPerson"></i-input>
										</form-item>
										<form-item label="联系地址" prop="contractReceivableAgreement.spContactAddress">
											<i-input placeholder="请输入乙方联系地址" v-model="addForm.contractReceivableAgreement.spContactAddress"></i-input>
										</form-item>
										<form-item label="邮编" prop="contractReceivableAgreement.spPostCode">
											<i-input placeholder="请输入乙方邮编" v-model="addForm.contractReceivableAgreement.spPostCode"></i-input>
										</form-item>
										<form-item label="电话" prop="contractReceivableAgreement.spTelephone">
											<i-input placeholder="请输入乙方电话" v-model="addForm.contractReceivableAgreement.spTelephone"></i-input>
										</form-item>
										<form-item label="传真" prop="contractReceivableAgreement.spFax">
											<i-input placeholder="请输入乙方传真" v-model="addForm.contractReceivableAgreement.spFax"></i-input>
										</form-item>
										<form-item label="签署日期" prop="contractReceivableAgreement.signDate">
											<date-picker type="date" placeholder="请输入签署日期" v-model="addForm.contractReceivableAgreement.signDate" format="yyyy-MM-dd"></date-picker>
										</form-item>
									</Card>
								</div>
							</Panel>
							<Panel name="upload">
								自定义模板上传
								<div slot="content">
									<row>
										<i-col offset="1">
											已添加合同附件文件
											<Tag v-for="item in addForm.attachList" v-if="item.attachType == 2" closable  @on-close="deleteFile(item.fileId)">
												{{item.attachName}}
											</Tag>
										</i-col>
									</row>
									<row>
										<i-col span="8" offset="1">
											<Upload ref="upload" action="/file/upload" :on-success="uploadSuccess" :on-error="uploadError"
													:on-remove="removeFile">
												<i-button icon="ios-cloud-upload-outline">添加合同附件</i-button>
											</Upload>
										</i-col>
									</row>
								</div>
							</Panel>
							<Panel name="signList">
								签署清单
								<div slot="content">
									<row v-for="(item, index) in addForm.signList"
										 :key="index"
										 :prop="'items.' + index + '.value'">
										<i-col span="1">
											{{ index + 1 }}
										</i-col>
										<i-col span="6">
											<span v-if="item.type != 'add'">{{ item.signListName }}</span>
											<i-input v-if="item.type == 'add'" placeholder="请输入签署清单名称" class="inputw" v-model="item.signListName"></i-input>
										</i-col>
										<i-col span="1" offset="1">
											<Icon v-if="item.isRequired == 2" @click="handleRemove(index)" type="ios-remove-circle" style="color:#ed4014;cursor:pointer" size="20" />
										</i-col>
									</row>
									<br/>
									<row>
										<i-col span="4">
											<i-button type="dashed" @click="handleAdd" icon="md-add">添加清单</i-button>
										</i-col>
									</row>
								</div>
							</Panel>
						</Collapse>
					</template>
				</i-form>
				<br>
				<row type="flex">
					<i-col span="8" offset="1">
						<i-button v-if="addForm.baseInfo.status == null || addForm.baseInfo.status == 0" type="primary" @click="saveContract" :disabled="isDisable" style="margin-left: 8px">保存</i-button>
						<i-button v-if="addForm.baseInfo.status == 0" type="primary" @click="submitAuditWarn(addForm.baseInfo.id)" :disabled="isDisable" style="margin-left: 8px">提交审核</i-button>
					</i-col>
				</row>
				<input th:value="${projectId}" id="projectId" style="display:none" ></input>
			</card>
		</div>
	    <script src="js/contract/contractInfoAdd.js"></script>
	</div>
</html>