<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/layout">
	<div layout:fragment="content">
		<div id="contractSign">
			<card dis-hover title="搜索条件" style="width:100%">
				<p>
					<i-form ref="searchForm" :model="formInline" :label-width="120" inline>
						<form-item label="合同编号">
							<i-input placeholder="输入合同编号" class="inputw" v-model="formInline.contractCode"></i-input>
						</form-item>
						<form-item label="合同名称">
							<i-input placeholder="输入合同名称" class="inputw" v-model="formInline.contractName"></i-input>
						</form-item>
						<form-item label="项目模式" prop="projectMode">
							<Radio-Group v-model="formInline.projectMode">
								<Radio :label="1">有追索权模式</Radio>
								<Radio :label="2">无追索权模式</Radio>
							</Radio-Group>
						</form-item>
						<row type="flex">
							<i-col span="8" offset="8">
								<i-button type="primary"  icon="ios-search" @click="query()">查询</i-button>
							</i-col>
						</row>
					</i-form>
				</p>
			</card>
			<br>
			<card dis-hover title="搜索结果" v-if="showResult">
				<i-table  border :columns="tableColumns" :data="pageInfo.list" ></i-table>
				<br/>
				<page :total="pageInfo.total" show-elevator show-total  :page-size="pageInfo.pageSize" @on-change="pageChange"></page>
			</card>

			<!-- 合同签署 -->
			<modal v-model="modal1" title="合同签署" mask-closable="false" width="500px">
				<div id="modalForm">
					<i-form ref="entityDataForm" :model="addForm" :label-width="150">
						<Row v-for="(item, index) in addForm.signList"
							 :key="index"
							 :prop="'items.' + index + '.value'">
							<Col span="4">
								<Checkbox v-model="item.status"></Checkbox>
							</Col>
							<Col span="18">
							<span v-if="item.isRequired == 1" style="color: red">*</span>
							<span v-if="item.isRequired == 2">&nbsp;</span>
							{{ item.signListName }}
							</Col>
						</Row>
					</i-form>
				</div>
				<div slot="footer">
					<i-button type="primary" @click="saveSign" style="margin-left: 8px">保存</i-button>
					<i-button type="primary" @click="signFinish" style="margin-left: 8px">签署完成</i-button>
					<i-button  @click="cancel" style="margin-left: 8px">取消</i-button>
				</div>
			</modal>
		</div>
	    <script src="js/contract/contractSign.js"></script>
	</div>
</html>